[*.json]
indent_style = space
indent_size = 4
insert_final_newline = false

[*.vue, *.js, *.ts]
indent_style = space
indent_size = 4
insert_final_newline = true

[*.yaml]
indent_style = space
indent_size = 4
insert_final_newline = true
