[submodule "intonation-checker"]
	path = intonation-checker
	url = https://github.com/WolfgangDrescher/intonation-checker.git
[submodule "intonation-trainer-data"]
	path = intonation-trainer-data
	url = https://github.com/WolfgangDrescher/intonation-trainer-data.git
